[submodule "games/TheDonald"]
	path = games/TheDonald
	url = https://github.com/TransNeptunianStudios/TheDonald
	branch = release
[submodule "games/Knugen"]
	path = games/Knugen
	url = https://github.com/TransNeptunianStudios/Knugen
	branch = release
[submodule "games/Snatris"]
	path = games/Snatris
	url = https://github.com/TransNeptunianStudios/Snatris
	branch = release
[submodule "games/Lettris"]
	path = games/Lettris
	url = git@github.com:Reicher/Lettris.git
